{% extends 'main/base.html' %}
{% load static %}

{% block contentTitle %}
    Add Patients
{% endblock contentTitle %}

{% block content %}

    <div class="patient-form row"> 
                    <div class="form-field col-lg-6">
                        <input type="text" id="name" class="input-text" type="text" name="">
                        <label for="name" class="label">Name</label>
                    </div>

                    <div class="form-field col-lg-6">
                        <input type="text" id="name" class="input-text" type="text" name="">
                        <label for="name" class="label">Name</label>
                    </div>

                    <div class="form-field col-lg-6">
                        <input type="text" id="name" class="input-text" type="text" name="">
                        <label for="name" class="label">Name</label>
                    </div>

                    <div class="form-field col-lg-6">
                        <input type="text" id="name" class="input-text" type="text" name="">
                        <label for="name" class="label">Name</label>
                    </div>

                    <div class="form-field col-lg-6">
                        <button type="button" class="submit-btn btn btn-block">Submit</button>
                    </div>
                </div>
    <button class="btn col-lg-4 btn-block mx-auto btn-info">Add Patient</button>
{% endblock content %}
